<h1>Make A New Zine</h1>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" ng-model="zine.title">
    </div>
    <div class="form-group">
      <label for="description">Zine Description</label>
      <textarea class="form-control" id="description" ng-model="zine.description"></textarea>
    </div>
    <div class="form-group">
      <label for="heading">Page Heading</label>
      <input type="text" class="form-control" id="heading" ng-model="currentPage.heading">
    </div>
    <div class="form-group">
      <label for="pageText">Text</label>
      <textarea class="form-control" id="pagetext" ng-model="currentPage.pageText"></textarea>
    </div>

    <label for="textColor">Text Color</label>
    <input type="text" id="textColor" class="basic" ng-model="currentPage.textColor">

    <label for="textBGColor">Text Background Color</label>
    <input type="text" id="textBGColor" class="basic" ng-model="currentPage.textBGColor">
    
    <div class="form-group">
      <label for="file">Image Hotlink</label>
      <input type="text" class="form-control" name="imageFile" id="image-bg" placeholder="" ng-model="currentPage.bgImage">
    </div>

    
    
    <button ng-click="addPage()" class="btn btn-primary">Add this page</button>

    <button ng-click="createZine()" class="btn btn-warning">PUBLISH ZINE</button>

  </div>
  <div class="col-md-4">

    <div id="zinepreview" class="zinePage" ng-style="{'background-image':'url(' + currentPage.bgImage + ')'}">
      <h4 style="color:{{currentPage.textColor}}; background-color:{{currentPage.textBGColor}};">{{currentPage.heading}}</h4>
      <p style="color:{{currentPage.textColor}}; background-color:{{currentPage.textBGColor}};">{{currentPage.pageText}}</p>
    </div>
  </div>
</div>


  <div id="zinepreview" class="zinePage" ng-style="{'background-image':'url(' + page.backgroundImage + ')'}" ng-repeat="page in zine.pages track by $index" >
    <h4 style="color:{{page.textColor}}; background-color:{{page.textBGColor}};">{{page.title}}</h4>
    <p style="color:{{page.textColor}}; background-color:{{page.textBGColor}};">{{page.description}}</p>
  </div>
